<div class="container">
    <h1>Hello Angular!</h1>

    <h3>Циклы с ngFor</h3>
    <app-use-cycles></app-use-cycles>

    <h3> Отображение по условию с ngIf else</h3>
    <app-use-conditions></app-use-conditions>

    <h3>Директива ngStyle, Динамические классы с ngClass</h3>
    <app-first-directive></app-first-directive>

    <h3>Двусторонний байдинг</h3>
    <app-two-way-binding></app-two-way-binding>

    <h3>Односторонний байдинг: события шаблона</h3>
    <app-trying-events></app-trying-events>

    <h3>Односторонний байдинг: динамическое изменение переменных и передача в шаблон</h3>
    <app-blank-image></app-blank-image>

    <h3>Простой компонент</h3>
    <app-post></app-post>
    <app-post></app-post>

    <h3>Передача переменных в шаблон</h3>
    <p> {{title + ' ' + number}} </p>
</div>
